ul {
    list-style-type: none; 
    padding: 5; 
 margin: 0 auto;

}

div{
    margin: 0 auto;
    
}


li {
    margin: 5px;
    padding: 5px;
}

.list{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: bold;
    
}

#body {
    background-color: #DAF7A6;
    text-align: center;
    
}

.heading {
    font-family: 'Playfair Display', serif;
    font-style: 'oblique';
    font-weight: 900;


}


.head3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 700;

}



.col-sm{
    margin-left: 40px;
    margin-right: 40px;
}

.row-sm{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    /* padding: 20px; */
}


